<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    </head>

    <body>
        <h2>Database</h2>
        <table>
            <tr><th>Entity</th><th>Token</th><th>Head</th><th>Relation</th></tr>
            {% for row in db %}
                <tr><td>{{row.entity}}</td><td>{{row.token}}</td><td>{{row.head}}</td><td>{{row.relation}}</td></tr>
            {% endfor %}
        </table>
        <p><a href="/">Back to form</a></p>
    </body>
</html>
